html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  clip-path:inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


a {
  text-decoration: none;
}
h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 12px 30px;

  font: inherit;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.main-header {

  font-size: 17px;
  line-height: 18px;
  width: 100%;


  background-image: linear-gradient( #32425c 40px, #f3f7f8 40px);
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}
.wraped-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-bottom: 60px;
}

/* Header styles*/

/* top-menu */
.index-header-logo {
  width: 220px;
  padding: 10px 55px 6px 55px;
  box-shadow: 0px 5px 0 0 #b52933;
  margin: 0;
  margin-bottom: 46px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
.index-header-logo:hover,
.index-header-logo:active {
  background-color: #ba2732;
}
.top-menu {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content:center;
}
.top-menu li {
  list-style: none;
}
.top-menu a {
  display: inline-block;
  text-align: center;
  min-width: 150px;
}
.search-nav {
  position: relative;
  border: none;
  width: 270px;
  margin: 0;
  padding: 10px 0 10px 48px;

  background-color: #32425c;
}

.search-nav:hover,
.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.search-nav:focus {
  color: #000000;
  background-color: #ffffff;

  outline: none;
}

.search-nav::placeholder {
  color: #ffffff;
}
.search-form {
  position: relative;
}
.search-form label {
  position: absolute;
  top: 11px;
  left: 18px;

  color: #6a7180;
  z-index: 10;
}
.search-nav:hover+label {
  color: #ffffff;
}
.search-nav:focus+label{
  color: #ee3643;
}

.top-menu .bookmarks,
.top-menu .basket {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;

  color: #ffffff;
}
.top-menu .buy {
  background-color: #ee3643;
}
.bookmarks:active,
.basket:active {
  color: #8b8e94;
  background-color: #161d29;
}

.bookmarks::before {
  content: "";
  top: 11px;
  left: 17px;

  position: absolute;
  width: 17px;
  height: 17px;

  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}
.basket::before {
  content: "";
  top: 11px;
  left: 18px;

  position: absolute;
  width: 17px;
  height: 17px;

  background-image: url(../img/icons/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}
.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}
.bookmarks:active::before,
.basket:active::before {
  opacity: 0.3;
}

.orders {
  padding-top: 11px;
  padding-bottom: 11px;

  text-transform: none;
  color: #ffffff;
  background-color: #63a63e;
}
.orders:focus {
  background-color: #5fbb2d;
}
.orders:active {
  color: #a8c29a;
  background-color: #5fbb2d;
}

/* header description,  login-links*/
.header-description {
  width: 320px;
  margin: 0;
  padding-left: 53px;
  padding-right: 55px;


  font-style: italic;
  font-weight: 500;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
}
.header-contacts {
  position: relative;
  width: 320px;

  margin: 0;
  padding-right: 40px;
  padding-left: 5px;


}
.header-contacts .tel {
  display: block;

  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 70px;



  border: 3px solid #ffffff;

  font-size: 22px;
  line-height: 21px;

  color: #ee3643;
}
.header-contacts .tel::before {
  content: "";
  top: 16px;
  left: 20px;

  position: absolute;
  width: 18px;
  height: 19px;

  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header-contacts .addr {
  padding-left: 12px;

  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}
.login-menu {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  padding: 0;
  margin: 0;

  font-size: 21px;
  line-height: 21px;

}

.login-menu li,
.login-menu a {
  display: inline-block;
  list-style: none;
}


.login-link a,
.registration-link a,
.login-name a {
  color: #000000;
  background-color: #ffffff;
}
.login-link a {
  position: relative;

  margin-right: 10px;
  margin-left: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 48px;
  padding-right: 27px;

}
.login-link a::before {
  content: "";
  top: 17px;
  left: 14px;

  position: absolute;
  width: 20px;
  height: 17px;

  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.login-link a:hover::before{
  content: "";
  top: 17px;
  left: 14px;

  position: absolute;
  width: 20px;
  height: 17px;

  background-image: url(../img/icons/icon-login-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.login-menu a:active {
  color: #c5c5c5;
}
.login-link a:active::before {
  content: "";
  top: 17px;
  left: 14px;

  position: absolute;
  width: 20px;
  height: 17px;

  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.registration-link a {
  padding: 14px 25px;
}
.login-name{
  position: relative;

}
.login-name a {
  padding-left: 48px;
  padding-right: 70px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.login-name::before {
  content:"";
  top: 12px;
  left: 14px;

  position: absolute;

  width: 20px;
  height: 18px;

  background-image: url(../img/icons/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-name:hover::before  {

  background-image: url(../img/icons/icon-user-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-name::after {
  content:"";
  top: 14px;
  left: 270px;

  position: absolute;

  width: 20px;
  height: 17px;

  background-image: url(../img/icons/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-name:hover::after {
  background-image: url(../img/icons/icon-logout-hover.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.my-orders {
  position: relative;

  margin-left: 19px;
  margin-right: 32px;
}
.my-orders::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 90px;

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}
.my-account {
  margin: 0;
}
.my-orders a,
.my-account a {

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.my-orders a:hover,
.my-account a:hover,
.login-link a:hover,
.registration-link a:hover {
  color: #ee3643;
}


/*  Navigation-menu */
.nav-menu {
  background-color: #32425c;
  width: 100%;
  margin-top: 44px;
}
.site-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  box-shadow: inset 0px -5px 0 0 #293449;

}
.site-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-menu a {
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 19px;
  padding-bottom: 19px;
  display: inline-block;
  min-width: 125px;
  height: auto;
  text-align: center;
  color: #ffffff;
}
.site-menu a:hover {
  background-color: #293449;
}
.site-menu a:active {
  color: #8e939c;
  background-color: #1d2739;
}

/* main content */
.index-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.about-us-anotation h2 {
  font-size: 28px;
}
.about-us-anotation {
  width: 640px;
  padding-top: 50px;
  padding-bottom: 86px;
}
.delivery-company {
  margin-bottom: 32px;
}

.delivery-company li {
  position: relative;
  list-style:none;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  text-indent: -5px;

}
.text-box {
  width: 500px;
  margin-bottom: 25px;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

}
.delivery-company li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -40px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;

}
.about-us-anotation .button {
  display: block;
  width: 220px;
}
.contact-info {
  width: 300px;
  padding-top: 50px;
  padding-bottom: 86px;
}
.contact-info p {
  width: 180px;
}
.contact-info .button {
  display: block;
  width: 100%;
  margin-top: 40px;
}


/* Catalog*/
.page-title {
  margin: 0;
  padding-top: 32px;
  padding-left: 28px;
  padding-bottom: 32px;

  background-color: #f2f6f8;
}
.breadcrumps {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 19px;


  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  text-transform: uppercase;
}
.breadcrumps li {
  position: relative;
  margin-right: 38px;
}

.breadcrumps li::after {
  content: "";
  top: 3px;
  right: -20px;

  position: absolute;

  width: 12px;
  height: 12px;

  border-bottom: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  background-color: #fff;

  transform: rotate(-45deg);
}
.breadcrumps-current::after {
  display: none;
}
.filters {
  width: 220px;
  margin-right: 20px;
}
.filter fieldset {
  border: none;
}
.filter legend {
  margin: 0;
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 23px;
}
.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 23px;
  height: 23px;

  border: 2px solid #c5c5c5;
  border-radius: 2px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before{
  display: none;
}
.filter-input-radio + label::before {
  content: "";
  top: -3px;
  left: -34px;

  position: absolute;

  width: 22px;
  height: 22px;

  border: 3px solid #c5c5c5;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  top: 4px;
  left: -27px;

  position: absolute;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #c5c5c5;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #b5b5b5;
}
.filter-input:disabled + label {
  color: #e9e9e9;
}
.filter-button {
  padding: 10px 40px;
  margin-top: 75px;

  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color:  #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 1px;
}

.catalog {
  width: 700px;
  margin: 20px auto;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}
.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 28px;

  text-align: center;
  font-weight: bold;

  border: 1px solid #e5e5e5;
}
.catalog-item:nth-child(3n){
  margin-right: 0;
}
.catalog {
  font-size: 0;
}
.catalog-item{
  font-size:16px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.catalog-item .flag-new {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  padding: 43px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;

}
.catalog-item .item-img {
  margin-bottom: 25px;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  position: relative;
  display: block;
  width: 132px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315;
  background-color: #63a63e;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;

}
.catalog-item .actions .buy::before{
  content: "";
  top: 8px;
  left: 10px;

  position: absolute;
  width: 15px;
  height: 15px;

  background-image: url(../img/icons/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}
.catalog-item .actions .buy:hover{
  background-color: #5fbb2d;
  border:3px solid #5fbb2d;
  border-bottom-color:#367315;
}
.catalog-item .actions .buy:active{
  background-color: #518534;
  border:3px solid #518534;
}
.catalog-item .actions .buy:hover::before {
  opacity: 1;
}
.catalog-item .actions .bookmark{
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}
.catalog-item .actions .bookmark:hover {
  border: 3px solid #32425c;
}
.catalog-item .actions .bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}
.catalog-item .actions{
  display: none;
}
.catalog-item:hover .actions{
  display: block;
}
.catalog-item h3 {
  min-height: 40px;
  padding: 0 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.catalog-item .last-price {
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  color: #999;
  text-decoration: line-through;
}
.catalog-item .main-price {
  position: relative;
  width: 130px;
  margin: 10px auto;
  margin-bottom: 22px;
  padding: 10px 10px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}
.catalog-item .main-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -29px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  box-shadow: 0 0 25px rgba(0,0,0, 0.5)
}




/* Footer */
.main-footer {
  width: 100%;


  background-color: #32425c;
  color: #ffffff;
}
.wraped-footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container {
  font-size: 18px;
  line-height: 24px;
}
.footer-logo {
  display: block;
  width: 220px;
  padding-top: 18px;
  padding-bottom: 16px;


  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}
.footer-contacts {
  display: inline-block;
  width: 330px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 50px;
}


.footer-menu li {
  padding-left:  59px;

  list-style: none;
  font-size: 18px;
  line-height: 24px;

}
.footer-first-menu {
  display: flex;
  justify-content: flex-end;

  width: 550px;
  margin: 0;
  padding-top: 39px;
}
.footer-second-menu {
  display: flex;
  justify-content: flex-end;


  width: 550px;
  padding-top: 18px;
}
.footer-first-menu a {
  color: #ffffff;
}
.footer-second-menu a {
  color: #ffd180;
}
.footer-first-menu a:hover,
.footer-second-menu a:hover {
  text-decoration: underline;
}
.footer-first-menu a:active,
.footer-second-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #293449;

  font-size: 16px;
  line-height: 18px;
}
.footer-copyrights {
  width: 230px;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 70px;

  list-style: none;
}
.social-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #212a3a;
}
.vk-btn {
  background-image: url(../img/icons/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 7px 13px;
}
.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.fb-btn {
  background-image: url(../img/icons/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 14px 10px;
}
.instag-btn {
  background-image: url(../img/icons/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.feedback {
  width: 205px;
  margin:0;
  padding-top: 35px;
  padding-left: 30px;

}
address {
  width: 120px;
  padding-top:35px;
  padding-left:10px;

  font-style: normal;
}
.feedback a,
address a {
  color: #ffd180;
  font-style: normal;
}
.feedback a:hover,
address a:hover {
  text-decoration: underline;
}
.feedback a:active,
address a:active {
  color: #ee3643;
  text-decoration:none;

}
